<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miscitasmedicas">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">

        <activity android:name=".RegisterActivity" />
        <activity android:name=".AppointmentsActivity" />
        <activity android:name=".NewAppointmentActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SpecialtiesActivity" />
        <activity android:name=".DoctorsActivity" />

        <!-- Si tu app apunta a targetSdk 31+ (Android 12+), cualquier Activity
             con intent-filters DEBE declarar android:exported -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
